ul li{
    list-style: none;
}
*{
    font-family: 'Montserrat Alternates','Oswald', sans-serif;
    
}   
html{
    height: 100%;
}
html,
header h2
 {
    color: darkmagenta;
 }

body{
    background-color: whitesmoke;
    height: 100%;
 }
 a{
    text-decoration: none;
    color: inherit;
    font-family: 'Oswald';  
    color: black;
 }
header {
    background-color:rgb(207, 163, 244);
    height: 55px;
    position: fixed;
    z-index: 23;
}

.title-container h1{
    color: black;
    
}
header h1 a:hover{
    color: black;
    font-family: 'Oswald';
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
header ul form{
    margin-top: 10px;
}
header ul input{
    width: 400px;
}
header ul li{
    float: left;
    position: relative;
}
header ul li a{
    list-style-type: none;
    display: block;
    font-size: 36px;
    text-decoration: none;
    color: black;
    margin-top: 1px;
    font-family: 'Oswald';
}

.sidebar{
    position: fixed;
    background-color: rgb(207, 163, 244);
    list-style-type: none ;
    height: 100%;
    color: black;
    padding-top: 80px;
    line-height: 50px;
    width: 160px;
}

.sidebar a{
    width: 100%;
    color: black;
    height: 100%;
    display: block;
    text-align: center;
}

.sidebar a:hover{
    background:rgb(149, 115, 218);
    transition: 0.8s;
}

.flamingo{
    margin-left: 160px;
    height: 100%;
}
.flamingo iframe{
    width: 100%;
    height: 100%;
}